$maxWidth: 1280px;

.names {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  text-align: center;
  z-index: 99;
  padding: 10px 0;
  box-sizing: content-box;
}

.nav {
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  height: 50px;
  text-transform: uppercase;
  background-color: white;
  z-index: 99;

  box-shadow: 0 1px 4px 1px #333;

  div {
    padding: 10px;
    cursor: pointer;
    color: #222;
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid black;
    }
  }
}

.font-xxs {
  font-size: 10px;
}

.font-xxxs {
  font-size: 8px;
}

.about {
  @media only screen and (max-width: $maxWidth) {
    min-height: 94vh;
  }
}

.registry {
  @media only screen and (max-width: $maxWidth) {
    min-height: 94vh;
  }
}

.s-three {
  min-height: 100vh;

  .itinerary-content {
    .itinerary-box {
      box-sizing: content-box;

      .itinerary-description {
        padding: 10px;
        line-height: 1.5em;
      }

      .tab {
        &.showtab {
          @media only screen and (min-width: $maxWidth) {
            display: flex;
          }
        }
      }

      .circle-1,
      .circle-2,
      .circle-3,
      .circle-4 {
        position: absolute;
        bottom: -8px;
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 50%;
        border: 2px solid black;

        &.fill {
          background-color: black;
        }
      }

      .circle-1 {
        left: 20%;
      }

      .circle-2 {
        left: 40%;
      }

      .circle-3 {
        left: 60%;
      }

      .circle-4 {
        left: 80%;
      }
    }
  }
}

.s-five {
  .s-five-grid {
    grid-template-columns: repeat(4, minmax(0, 300px));

    @media only screen and (max-width: $maxWidth) {
      grid-template-columns: repeat(1, 1fr);
    }

    .friday {
      background-image: url(/assets/images/sphere.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      z-index: -1;
      opacity: 0.1;
      filter: grayscale(1);

      @media only screen and (max-width: $maxWidth) {
        background-size: auto 100%;
      }
    }
  }

  .place-selected {
    color: rgb(197 160 255);
  }

  .place-content {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 300ms ease-in;

    &.place-content-selected {
      transition: opacity 300ms ease-in;
      height: 100%;
      opacity: 1;
    }
  }
}

.s-six {
  .disabled {
    label {
      color: gray;
    }

    input {
      cursor: not-allowed;
      background-color: gray;
      pointer-events: none;
    }
  }

  .guest-questions {
    grid-template-columns: repeat(5, 1fr);

    input[type="checkbox"].disabled {
      accent-color: #888;
      pointer-events: none;
    }
  }
}
