<div class="nav">
    <div>Home</div>
    <div>About</div>
    <div>Party</div>
    <div>Registry</div>
    <div>Place</div>
    <div>Accommodations</div>
    <div>RSVP</div>
</div>
<div class="scroll-background" #scrollbackground>
    <div class="section s-one" #section>
        <img src="/assets/images/JohnAndVeronica.jpg" />
        <div class="img-title">
            <div class="line"></div>
            <div class="names">JOHN & VERONICA</div>
            <div class="line"></div>
            <div class="date">May 25, 2025</div>
        </div>
    </div>

    <div class="section s-two" #section>
        <div class="content">
            <div class="line"></div>
            <div class="description">
                <div class="description-top">
                    <div class="w">W</div>
                    <div>e are thrilled to invite you to our Las Vegas Wedding! We encourage all of you to take this opportunity and make this
                        into a small getaway or a
                        full blown vacation.
                    </div>
                </div>
                <br />Since we will not have a wedding party, we decided to have our guests show up in style and be the “wedding party”. Choose any shade of
                purple
                for any piece of clothing or accessory. Feel free to show up decked out in purple as well :)
                <br />
                <br />Hope you’re as excited as we are to make lasting memories!
                <br />
                <br />XOXO
                <br />
                <br />John & Veronica
            </div>
        </div>
    </div>

    <div class="section s-three" #section>
        <h1>Section 1</h1>
        <h1>Section 2</h1>
        <h1>Section 3</h1>
        <h1>Section 4</h1>
        <h1>Section 5</h1>
        <h1>Section 6</h1>
        <h1>Section 7</h1>
        <h1>Section 8</h1>
        <h1>Section 9</h1>
        <h1>Section 10</h1>
        <h1>Section 11</h1>
        <h1>Section 12</h1>
        <h1>Section 13</h1>
        <h1>Section 14</h1>
        <h1>Section 15</h1>
        <h1>Section 16</h1>
        <h1>Section 17</h1>
        <h1>Section 18</h1>
        <h1>Section 19</h1>
        <h1>Section 20</h1>
        <h1>Section 21</h1>
        <h1>Section 22</h1>
        <h1>Section 23</h1>
        <h1>Section 24</h1>
        <h1>Section 25</h1>
    </div>
</div>