<div class="bg-white box-border">
    <div class="names fixed top-0 left-0 right-0 h-10 text-3xl text-white font-bold box-content">
        <div class="pl-8">JOHN & VERONICA</div>
        <div class="font-xxs -mt-3.5 pl-6">VIVA LAS VEGAS WITH THE VANIDESTINE'S</div>
    </div>

    <div class="nav fixed top-50 hidden xl:flex align-center justify-center">
        <div (click)="goToPage(0)">Home</div>
        <div (click)="goToPage(1)">About</div>
        <div (click)="goToPage(2)">Itinerary</div>
        <div (click)="goToPage(3)">Registry</div>
        <div (click)="goToPage(4)">Accomodations</div>
        <div (click)="goToPage(5)">Schedule</div>
        <div (click)="goToPage(6)">RSVP</div>
    </div>
    <div class="fixed h-screen w-4/5 border z-100 text-black font-bold mobile-menu" [class.open]="isMobileMenuOption">
        <div class="absolute h-full w-full bg-white opacity-95 -z-1"></div>
        <div class="absolute top-1.5 right-1 fill-violet-700 p-2 z-100 menu-button" (click)="toggleMobileMenu()">
            <svg *ngIf="!isMobileMenuOption" class="fill-violet-700" xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"
                fill="#e3e3e3">
                <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
            </svg>
            <svg *ngIf="isMobileMenuOption" class="fill-violet-700" xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px"
                fill="#e3e3e3">
                <path d="M120-240v-80h520v80H120Zm664-40L584-480l200-200 56 56-144 144 144 144-56 56ZM120-440v-80h400v80H120Zm0-200v-80h520v80H120Z" />
            </svg>
        </div>
        <div class="absolute h-full w-full p-4 text-xl">
            <div class="p-2 size-fit" (click)="goToPage(0)">Home</div>
            <div class="p-2 size-fit" (click)="goToPage(1)">About</div>
            <div class="p-2 size-fit" (click)="goToPage(2)">Itinerary</div>
            <div class="p-2 size-fit" (click)="goToPage(3)">Registry</div>
            <div class="p-2 size-fit" (click)="goToPage(4)">Accomodations</div>
            <div class="p-2 size-fit" (click)="goToPage(5)">Schedule</div>
            <div class="p-2 size-fit" (click)="goToPage(6)">RSVP</div>
        </div>
    </div>

    <div class="relative" #scrollbackground (click)="closeMobileMenu()">
        <div class="section fixed top-16 w-full bg-white s-one xl:min-h-screen z-[10] pb-5 shadow-2xl">
            <img class="m-auto w-full xl:w-1/2" src="/assets/images/JohnAndVeronica.jpg" />
        </div>

        <div class="section about fixed top-14 w-full bg-white xl:min-h-screen z-[9] px-7 pb-8 shadow-2xl">
            <div class="content m-auto text-neutral-700 leading-6 max-w-full xl:max-w-4xl xl:text-2xl max-w-xl">
                <div class="border-b-2 w-80 mx-auto mt-5 xl:mt-24 border-black"></div>

                <div class="mt-10 sm:hidden m-auto">
                    <div class="flex items-center ">
                        <div class="text-8xl relative w">W</div>
                        <div>e are thrilled to invite you to our Las Vegas Wedding! </div>
                    </div>
                    <div class="mt-1">We encourage all of you to take this opportunity and make this
                        into a small getaway or a full blown vacation.
                    </div>
                </div>
                <div class="hidden sm:block m-auto">
                    <div class="flex items-center mt-24 mt-7">
                        <div class="text-9xl relative top-0 w">W</div>
                        <div>e are thrilled to invite you to our Las Vegas Wedding! We encourage all of you to take this opportunity and make this
                            into a small getaway or a full blown vacation.
                        </div>
                    </div>
                </div>

                <div class="my-4 m-auto">There will not be a wedding party and instead we invite our guests show up in style and be the "wedding
                    party".
                    Choose any
                    shade of
                    purple for any piece of clothing or accessory. Feel free to show up decked out in purple as well :)
                </div>
                <div class="my-4 m-auto">Hope you're as excited as we are to make lasting memories!</div>
                <div class="my-2 m-auto">xoxo</div>
                <div class="m-auto">John & Veronica</div>
            </div>
        </div>

        <div class="section fixed top-14 w-full bg-white s-three z-[8] shadow-2xl">
            <div class="border-b-2 w-80 mx-auto mt-5 xl:mt-24 border-black"></div>
            <div class="text-center text-3xl xl:text-3xl mt-5 tracking-widest">WEDDING DAY ITINERARY</div>
            <div class="itinerary-content">
                <div class="relative itinerary-box xl:max-w-7xl xl:flex xl:items-start xl:mt-10 xl:mx-auto xl:mb-2.5 
                p-2.5 xl:border xl:border-solid xl:border-slate-500 xl:mb-20">
                    <div class="hidden xl:flex">
                        <div class="circle-1 cursor-pointer" [class.fill]="itineraryTab === 1" (click)="selectItineraryTab(1)">
                            <div class="absolute w-20 top-5 -left-8 text-center text-sm">
                                <div class="font-bold">Ceremony</div>
                                <div>1:00pm</div>
                            </div>
                        </div>
                        <div class="circle-2 cursor-pointer" [class.fill]="itineraryTab === 2" (click)="selectItineraryTab(2)">
                            <div class="absolute w-20 top-5 -left-8 text-center text-sm">
                                <div class="font-bold">Dinner</div>
                                <div class="font-bold text-nowrap" *ngIf="!clickMeClicked">(Click Me)</div>
                                <div>2:45pm</div>
                            </div>
                        </div>
                        <div class="circle-3 cursor-pointer" [class.fill]="itineraryTab === 3" (click)="selectItineraryTab(3)">
                            <div class="absolute w-20 top-5 -left-8 text-center text-sm">
                                <div class="font-bold">Show</div>
                                <div class="font-bold text-nowrap" *ngIf="!clickMeClicked">(Click Me)</div>
                                <div>7:00pm</div>
                            </div>
                        </div>
                        <div class="circle-4 cursor-pointer" [class.fill]="itineraryTab === 4" (click)="selectItineraryTab(4)">
                            <div class="absolute w-20 top-5 -left-8 text-center text-sm">
                                <div class="font-bold">After Party</div>
                                <div class="font-bold text-nowrap" *ngIf="!clickMeClicked">(Click Me)</div>
                            </div>
                        </div>
                    </div>
                    <div class="xl:items-center xl:min-h-min block xl:hidden tab" [class.showtab]="itineraryTab === 1">
                        <img class="m-auto w-60 xl:mx-2 xl:w-52 h-auto" src="/assets/images/ceremony.jpg" />
                        <div class="itinerary-description">
                            <div class="itinerary-description-title text-2xl xl:text-4xl font-bold">Ceremony</div>
                            <div class="py-6">Although the courthouse will have our signatures on the dotted line, we know it won't be
                                real in our eyes until you help us make the commitment.
                            </div>
                            <div class="pb-5 font-bold">Ceremony: 1:00pm - 2:00pm</div>
                            <ul class="list-disc ml-5 tracking-normal">
                                <li>Arrive 10-15 minutes early to grab a seat. Doors will promptly close at 12:59pm. Late arrivals may wait in the lobby of the
                                    Wedding Salons until the ceremony has concluded.</li>
                                <li>If arriving by Uber, have them drop you off at the South Entrance.
                                    <a class="underline decoration-solid text-violet-700" href="/assets/images/wynnmap.jpg" target="_blank">
                                        View Map</a>
                                </li>
                                <li>Ceremony is outdoors and shaded, but in the event of inclement weather we will proceed indoors.</li>
                                <li>Make sure to silence your phones and turn off any alarms previously set.</li>
                                <li>Please limit phone usage during the ceremony as we will have a professional photographer to capture the moments.</li>
                                <li>We will be providing transportation from the Wynn Hotel to Mon Ami Gabi between 1:45pm - 2pm for photos then food.</li>
                            </ul>
                        </div>
                        <div class="itinerary-details p-2.5 xl:w-1/3">
                            <div class="font-bold" hidden xl:block>The Wedding Salons</div>
                            <div class="font-bold" hidden xl:block>at the Wynn Hotel</div>
                            <div class="font-bold" block xl:hidden>The Wedding Salons at the Wynn Hotel</div>
                            <div class="text-sm hidden xl:block">
                                <div>Sunday</div>
                                <div>May 25</div>
                                <div>1:00pm</div>
                            </div>
                            <button class="bg-violet-700 hover:bg-violet-700 text-white font-bold py-2 px-4 my-3 rounded text-sm"
                                (click)="viewOnMap('WynnHotel')">View on Map</button>
                            <div class="font-bold">Attire</div>
                            <div>Cocktail Attire - Purple Encouraged</div>
                        </div>
                    </div>
                    <div class="border-b-2 w-3/4 mx-auto my-5 border-black xl:hidden"></div>
                    <div class="xl:items-center xl:min-h-96 block xl:hidden tab" [class.showtab]="itineraryTab === 2">
                        <img class="m-auto w-60 xl:mx-2 xl:w-52 h-auto" src="/assets/images/blackwhitelook.jpg" />
                        <div class="itinerary-description">
                            <div class="itinerary-description-title text-2xl xl:text-4xl font-bold">Dinner</div>
                            <div class="py-6">Our love of French cuisine began on our vacation to Washington D.C. and since then we knew we had
                                to find the perfect French bistro for our special day!
                            </div>
                            <div class="pb-5 font-bold">Early Dinner: 2:45pm - 5:45pm</div>
                            <ul class="list-disc ml-5 tracking-normal">
                                <li>You will be able to select your entrée when seated.</li>
                                <li>We will be providing transportation from Mon Ami Gabi to MGM Grand at 5:45pm.</li>
                            </ul>
                        </div>
                        <div class="itinerary-details p-2.5 xl:w-1/3">
                            <div class="font-bold" hidden xl:block> Mon Ami Gabi</div>
                            <div class="font-bold" hidden xl:block> French Bistro</div>
                            <div class="font-bold" xl:hidden> Mon Ami Gabi French Bistro</div>
                            <div class="text-sm hidden xl:block">
                                <div>Sunday</div>
                                <div>May 25</div>
                                <div>2:45pm</div>
                            </div>
                            <button class="bg-violet-700 hover:bg-violet-700 text-white font-bold py-2 px-4 my-3 rounded text-sm"
                                (click)="viewOnMap('MonAmi')">View
                                on Map</button>
                        </div>
                    </div>
                    <div class="border-b-2 w-3/4 mx-auto my-5 border-black xl:hidden"></div>
                    <div class="xl:items-center xl:min-h-96 block xl:hidden tab" [class.showtab]="itineraryTab === 3">
                        <img class="m-auto xl:mx-2 w-52 h-auto" src="/assets/images/redtree.jpg" />
                        <div class="itinerary-description">
                            <div class="itinerary-description-title text-2xl xl:text-4xl font-bold">Show</div>
                            <div class="py-6">We'd like to treat you to a Vegas show and what better way than to witness a Cirque du Soleil production.
                            </div>
                            <div class="pb-5 font-bold">Show: 7:00pm - 8:30pm</div>
                            <ul class="list-disc ml-5 tracking-normal">
                                <li>Doors open at 6:30pm.</li>
                                <li>No bags larger than 14"x14"x6" are allowed in the theater.</li>
                                <li>Photos and videos during the performance are strictly prohibited.</li>
                                <li>Must be at least 5 years old to attend.</li>
                                <li><a class="underline decoration-solid text-violet-700"
                                        href="https://mgmgrand.mgmresorts.com/en/entertainment/faq-ka-by-cirque-du-soleil.html" target="_blank">Click for more
                                        info</a>
                                </li>
                            </ul>


                        </div>
                        <div class="itinerary-details p-2.5 xl:w-1/3">
                            <div class="font-bold" hidden xl:block> KÀ by Cirque du Soleil </div>
                            <div class="font-bold" hidden xl:block>at MGM Grand</div>
                            <div class="font-bold" xl:hidden>KÀ by Cirque du Soleil at MGM Grand</div>
                            <div class="text-sm hidden xl:block">
                                <div>Sunday</div>
                                <div>May 25</div>
                                <div>7:00pm</div>
                            </div>
                            <button class="bg-violet-700 hover:bg-violet-700 text-white font-bold py-2 px-4 my-3 rounded text-sm"
                                (click)="viewOnMap('show')">View
                                on Map</button>
                        </div>
                    </div>
                    <div class="border-b-2 w-3/4 mx-auto my-5 border-black xl:hidden"></div>
                    <div class="xl:items-center mb-3 xl:min-h-96 block xl:hidden tab" [class.showtab]="itineraryTab === 4">
                        <img class="m-auto xl:mx-2 w-full xl:w-1/2 h-auto" src="https://www.viaggi-usa.it/wp-content/uploads/2018/10/opt1.jpg" />
                        <div class="itinerary-description">
                            <div class="itinerary-description-title text-2xl xl:text-4xl font-bold">After Party</div>
                            <div class="py-3 font-bold">Starts at: 10:00pm+/-</div>
                            <ul class="list-disc ml-5 tracking-normal">
                                <li>Only for those feeling up for it.</li>
                                <li>Plenty of bars, outside entertainment, Freemont St., etc, whatever!</li>
                                <li>We are open to any suggestions.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section registry fixed top-14 w-full bg-white z-[7] min-h-screen shadow-2xl">
            <div class="border-b-2 w-80 mx-auto mt-5 xl:mt-24 border-black"></div>
            <div class="text-center text-3xl xl:text-3xl mt-5 tracking-widest">Registry</div>
            <div class="max-w-screen-md p-5 m-auto">
                <div class="py-2.5 xl:my-10 xl:p-0">
                    We are beyond grateful to be celebrating our wedding with you. We appreciate you coming from far and wide to be with us this Memorial Day
                    weekend. Your
                    attendance is as good a gift as any, but for those who would like, we have thoughtfully put together our registry with items to help us
                    start this next chapter in our lives.
                </div>
                <div class="py-2.5 xl:my-7 xl:p-0">
                    We have so much to look forward to and have included cash gift options if you would like to contribute to our future plans. Thank you from
                    the bottom of our hearts.
                </div>
                <div class="py-2.5 xl:my-7 xl:p-0">You can find our registry here at <a href="https://www.amazon.com/wedding/registry/38UOAQG8FOISD"
                        target="_blank" class="underline decoration-solid text-violet-700">Amazon</a>
                </div>
                <div class="py-2.5"> CashApp: $BeMyVanidestine </div>
            </div>
        </div>

        <div class="section fixed top-14 w-full bg-white z-[6] min-h-screen shadow-2xl">
            <div class="border-b-2 w-80 mx-auto mt-5 xl:mt-24 border-black"></div>
            <div class="text-center text-3xl xl:text-3xl p-5 tracking-widest">Accomodations</div>
            <div class="px-5 xl:max-w-screen-md m-auto">There are numerous hotels,
                Airbnbs, and other accommodations available in Las Vegas. We recommend that you find the option that best suits your needs for the duration of
                your stay as guests are expected to make their own reservations. Although we will not be staying at the Wynn Hotel, they have provided a
                rate code for our guests, as our ceremony will be held
                there.
            </div>
            <div class="p-5 xl:max-w-screen-md m-auto">
                <div class="font-bold text-lg">The Wynn Hotel Info</div>
                <ul class="list-disc ml-5 tracking-normal">
                    <li>Rate (Promo) Code: <span class="font-bold">WYNNWED</span></li>
                    <li class="underline">This code cannot be used online.</li>
                    <li>You must call Small Groups Departments to use rate code at 702-777-2223 between 7:30am-6pm(PST), 10:30am-9pm(EST).</li>
                    <li>Provide the staff with "Colon-Lopez and Vanidestine", the WYNNWED rate code and the dates you will be staying.</li>
                    <li>A deposit will be required at the time of confirming the reservation (the first night + tax).</li>
                    <li>A 48-hour cancellation policy will apply.</li>
                    <li><span class="italic">Wynn Deluxe Resort Kings</span> and <span class="italic">Encore Resort Suite Kings</span> are the only room types
                        offered under this rate
                        code.
                        Any other room type will be offered at the regular rate: <a class="underline decoration-solid text-violet-700"
                            href="https://www.wynnlasvegas.com/wynn-rewards">https://www.wynnlasvegas.com/wynn-rewards</a></li>
                </ul>
            </div>


            <div class="pt-3 pl-5 text-lg xl:max-w-screen-md m-auto">Disclaimer</div>
            <div class="p-2 mb-5 pl-5 xl:max-w-screen-md m-auto">
                Please be aware that since this is a holiday weekend, there may be 'wellness checks' by hotel staff or police <span class="underline">at any
                    time</span> during your stay. You may want to inquire about this prior to booking. Memorial Day weekend is one of the busiest holidays,
                and hotels are on high alert for illegal activity, overconsumption of alcohol and drugs, or too much tomfoolery. Additionally, it's worth
                noting that
                extended wait times for check-in are not uncommon (like, ridiculously long wait times).
            </div>
        </div>

        <div class="section fixed top-14 w-full bg-stone-700 s-five z-[5] min-h-screen text-sm shadow-2xl">
            <img class="w-3/8 mx-auto mt-5 xl:mt-20" src="/assets/images/lasVegas.png" />
            <div class="text-3xl xl:text-5xl text-center my-10 text-white">OUR SCHEDULE</div>
            <div class="w-3/4 xl:w-1/4 my-4 xl:my-16 mx-auto border-2 border-white"></div>
            <div class="p-4 text-center max-w-screen-lg text-white xl:text-2xl m-auto">
                We plan on experiencing more of what Vegas has to offer during our stay. Everyone is welcome to join us but don't feel obligated to do so.*
            </div>
            <div class="flex align-center justify-center text-white text-lg my-5 cursor-pointer tracking-normal flex-wrap">
                <div class="mx-3 hidden xl:block" [class.place-selected]="place === 'thursday'" (click)="selectPlace('thursday')">Thursday</div>
                <div class="mx-3 block xl:hidden" [class.place-selected]="place === 'thursday'" (click)="selectPlace('thursday')">Thurs</div>
                |
                <div class="mx-3 hidden xl:block" [class.place-selected]="place === 'friday'" (click)="selectPlace('friday')">Friday</div>
                <div class="mx-3 block xl:hidden" [class.place-selected]="place === 'friday'" (click)="selectPlace('friday')">Fri</div>
                |
                <div class="mx-3 hidden xl:block" [class.place-selected]="place === 'saturday'" (click)="selectPlace('saturday')">Saturday</div>
                <div class="mx-3 block xl:hidden" [class.place-selected]="place === 'saturday'" (click)="selectPlace('saturday')">Sat</div>
                |
                <div class="mx-3 hidden xl:block" [class.place-selected]="place === 'sunday'" (click)="selectPlace('sunday')">Sunday</div>
                <div class="mx-3 block xl:hidden" [class.place-selected]="place === 'sunday'" (click)="selectPlace('sunday')">Sun</div>
                |
                <div class="mx-3 hidden xl:block" [class.place-selected]="place === 'monday'" (click)="selectPlace('monday')">Monday</div>
                <div class="mx-3 block xl:hidden" [class.place-selected]="place === 'monday'" (click)="selectPlace('monday')">Mon</div>
            </div>
            <div class="xl:mb-20 tracking-normal">
                <div class="flex justify-center place-content" [class.place-content-selected]="place === 'thursday'">
                    <div class="s-five-grid xl:grid xl:gap-2.5">
                        <div class="col-span-4 text-center text-white text-lg">Thursday May 22, 2025</div>
                        <div class="bg-white p-4 border-black border-b">
                            <div class="font-bold">Grimaldi's Pizzeria</div>
                            <div class="my-3 italic">
                                <div>Time: 4pm</div>
                                <div>3327 Las Vegas Blvd Ste. 2710</div>
                                <div>Las Vegas, NV 89109</div>
                                <div class="my-2">No reservations available. If you wish to dine here, meet up with us at 4pm as we will be waiting for our
                                    table.</div>
                            </div>
                            <div>Grimaldi's Pizzeria is a renowned American pizzeria chain originating from the New York City area. Known for its coal-fired
                                brick oven pizzas, Grimaldi's offers a variety of authentic Italian-American dishes, including fresh mozzarella, homemade dough,
                                and a secret recipe pizza sauce.
                            </div>
                            <div class="mt-3"><span class="italic">Fun Fact:</span> We've been to the ones in Phoenix, AZ; Tampa, FL; Charleston, SC; and now
                                Las Vegas, NV!!!
                            </div>
                            <div class="mt-3">
                                <a href="https://www.grimaldispizzeria.com/location/palazzo/" target="_blank"
                                    class="underline decoration-solid text-violet-700">Click for more info</a>
                            </div>
                        </div>
                        <div class="col-span-3 p-4 bg-white border-black border-b">
                            <img class="w-full" src="/assets/images/shin-lim.jpg" />
                            <div class="font-bold mt-4">Shin Lim</div>
                            <div class="my-3 italic">
                                <div>Time: 7:30pm - 9:30pm</div>
                                <div class="">Our Tickets: SEC2, Row S, Seats 14 - 15</div>
                                <div class="mb-2">Advanced ticket purchase recommended</div>
                                <div class="mb-2">You must purchase your own tickets</div>
                                <div>The Palazzo Theatre</div>
                                <div>3325 S Las Vegas Blvd</div>
                                <div>Las Vegas, NV 89109</div>
                            </div>
                            <div>Shin Lim's show, "Limitless," is a mesmerizing magic performance held at The Palazzo Theatre in Las Vegas. Shin Lim, a
                                renowned sleight-of-hand artist and two-time winner of "America's Got Talent," combines dexterity, precision, and grace to
                                create mind-blowing illusions and card tricks. His performance is family-friendly and appeals to audiences of all ages,
                                featuring carefully choreographed routines that leave spectators in awe.
                            </div>
                            <div class="mt-3">
                                <a href="https://www.venetianlasvegas.com/entertainment/shin-lim.html" target="_blank"
                                    class="underline decoration-solid text-violet-700">Click for more info</a>
                            </div>
                            <div class="mt-3">
                                <a href="https://www.ticketmaster.com/shin-lim-las-vegas-nevada-05-22-2025/event/1700615EDF7C4DCC" target="_blank"
                                    class="underline decoration-solid text-violet-700">Purchase at Ticket Master</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center place-content" [class.place-content-selected]="place === 'friday'">
                    <div class="relative s-five-grid xl:grid xl:gap-2.5">
                        <div class="col-span-4 text-center text-white text-lg">Friday May 23, 2025</div>
                        <div class="xl:col-span-3 p-4 bg-white border-black border-b">
                            <img class="w-full" src="/assets/images/murder.png" />
                            <div class="font-bold">Marriage Can Be Murder</div>
                            <div class="my-3 italic">
                                <div>7pm - 9pm</div>
                                <div>Reservations required</div>
                                <div class="my-2">You must purchase your own tickets</div>
                                <div>Our Seats: Regular Admission</div>
                                <div>The Venue</div>
                                <div>4500 W Tropicana Ave</div>
                                <div>Las Vegas, NV 89101</div>
                            </div>
                            <div>
                                "Marriage Can Be Murder" is an interactive comedy and murder mystery dinner show in Las Vegas. The show is known for its blend
                                of humor, suspense, and audience participation. A three-course meal is included and you'll be immersed in a thrilling
                                "whodunit" experience where actors are planted among the guests, and anyone could be a suspect.
                            </div>
                            <div class="my-3">Recommended to arrive early as seating is first come, first served.</div>
                            <div class="mt-3">
                                <a href="https://thevenue.showare.com/ordertickets.asp?p=11738&src=eventperformances" target="_blank"
                                    class="underline decoration-solid text-violet-700">Click for
                                    more
                                    info.</a>
                                <div class="my-2">Click the link then select 1 of the 3 images at the bottom of the page.</div>
                                <div>Regular seating - enjoy the show</div>
                                <div>VIP seating - chance of participation in the show</div>
                                <div>RIP seating - guaranteed participation in the show</div>
                            </div>
                        </div>
                        <div class="p-4 bg-white border-black border-b">
                            <div class="font-bold">The Underground Speakeasy</div>
                            <div class="my-3 italic">
                                <div>Closes at midnight</div>
                                <div class="my-2">You must speak the password to get in. It changes weekly. Click the link below for the password.</div>
                                <div>300 Stewart Ave</div>
                                <div>Las Vegas, NV 89101</div>
                                <div class="my-2">Located in the basement of The Mob Museum</div>
                            </div>
                            <div>The Underground Speakeasy and Distillery is a hidden gem located inside The Mob Museum in Las Vegas. It offers an immersive
                                Prohibition-era experience, complete with craft cocktails, live entertainment, and historical artifacts from the 1920s. You
                                can explore the distillery, learn about bootleggers and rum runners, and enjoy a truly unique and educational night out.
                            </div>
                            <div class="mt-3">
                                <a href="https://themobmuseum.org/exhibit/the-speakeasy/" target="_blank"
                                    class="underline decoration-solid text-violet-700">Click for
                                    more
                                    info</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center place-content" [class.place-content-selected]="place === 'saturday'">
                    <div class="s-five-grid xl:grid xl:gap-2.5">
                        <div class="col-span-4 text-center text-white text-lg">Saturday May 24, 2025</div>
                        <div class="xl:col-span-3 bg-white p-4 border-black border-b">
                            <img class="w-full" src="/assets/images/pool.png" />
                            <div class="font-bold mt-4">Pool Party</div>
                            <div class="my-3 italic">
                                <div>Time: 12pm - 4pm (confirmed)</div>
                            </div>
                            <div class="my-2">
                                Join us for a pre-wedding pool party at a rented house, where you can mingle and get to know each other before the big day! We
                                will provide non-alcoholic drinks and finger foods, and you are welcome to bring your own beverages (BYOB) or a side dish if
                                you'd like. We expect a turnout of 10-40 people throughout the event.
                            </div>
                            <div class="my-2">
                                The pool party will be held exclusively outdoors, with ample shade and ceiling fans to keep you comfortable. Please note that
                                towels will not be supplied, so be sure to bring your own. If you have any small games you'd like to share, feel free to message
                                us so we can coordinate.
                            </div>
                            <div class="my-2">
                                On-site parking is available, but space is limited. If you plan to drive, please let us know in advance to ensure we can
                                accommodate you. The address will be shared during the week of the wedding.
                            </div>
                        </div>
                        <div class="bg-white p-4 border-black border-b">
                            <div class="font-bold">Yard House</div>
                            <div class="my-3 italic">
                                <div>Time: 8pm</div>
                                <div class="my-2">No reservations available. If you wish to dine here, meet up with us at 8pm as we will be waiting for our
                                    table. You can place yourself on a waitlist online ahead of time by 5 minutes.</div>
                                <div>3545 S Las Vegas Blvd</div>
                                <div>Las Vegas, NV 89109</div>
                            </div>
                            <div>Yard House is a popular American restaurant chain known for its extensive selection of draft beers and a diverse menu featuring
                                American cuisine with a twist. Founded in 1996 in Long Beach, California, Yard House offers a vibrant atmosphere with a focus on
                                craft beer, live music, and a mouth-watering menu that includes everything from burgers to seafood and pasta. With over 100
                                beers on tap at each location, it's a favorite spot for beer enthusiasts and food lovers alike.
                            </div>
                            <div class="mt-3">
                                <a href="https://www.yardhouse.com/locations/nv/las-vegas/las-vegas-the-linq/8353?cmpid=br:yh_ag:ie_ch:loc_ca:YHGMB_sn:gmb_gt:las-vegas-nv-8353_pl:locurl_rd:1050"
                                    target="_blank" class="underline decoration-solid text-violet-700">Click for more
                                    info</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center place-content" [class.place-content-selected]="place === 'sunday'">
                    <div class="s-five-grid xl:grid xl:gap-2.5">
                        <div class="col-span-4 text-center text-white text-lg">Sunday May 25, 2025</div>
                        <div class="col-span-1 p-4"></div>

                        <div class="col-span-2 bg-white p-4 border-black border-b">
                            <div class="font-bold">Wedding Day</div>
                            <div class="my-3 italic">
                                <div>Time: 12:45pm - 8:30pm</div>
                                <div>RSVP Required</div>
                                <div>The Wynn at the Wedding Salons</div>
                            </div>
                            <div (click)="goToPage(2)">
                                Please <span class="underline decoration-solid text-violet-700 cursor-pointer">click here</span> to check out the Itinerary
                                page.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center place-content" [class.place-content-selected]="place === 'monday'">
                    <div class="s-five-grid xl:grid xl:gap-2.5">
                        <div class="col-span-4 text-center text-white text-lg">Monday May 26, 2025</div>
                        <div class="xl:col-span-2 bg-white p-4 border-black border-b">
                            <div class="font-bold">Mon Ami Gabi French Bistro</div>
                            <div class="my-3 italic">
                                <div>Reservations required for brunch</div>
                                <div>Time: 11am</div>
                                <div>3655 S Las Vegas Blvd South</div>
                                <div>Las Vegas, NV 89109</div>
                            </div>
                            <div>Brunch for anyone that is still around and wants to hang out for the day before heading back home.
                            </div>
                            <div class="mt-3">
                                <a href="https://www.monamigabi.com/las-vegas/?utm_source=google&utm_medium=social&utm_campaign=MAGLV-GBiz" target="_blank"
                                    class="underline decoration-solid text-violet-700">Click for more
                                    info</a>
                            </div>
                        </div>
                        <div class="xl:col-span-2 bg-white p-4">
                            <div class="font-bold">Area15</div>
                            <div class="my-3 italic">
                                <div>Advanced ticket purchase recommended</div>
                                <div>3215 S Rancho Dr</div>
                                <div>Las Vegas, NV 89102</div>
                            </div>
                            <div>Area15 is an immersive entertainment district located just minutes from the Las Vegas Strip. It offers a unique blend of
                                attractions, experiences, art installations, food, and drinks.
                            </div>
                            <div class="mt-3">
                                <a href="https://area15.com/" target="_blank" class="underline decoration-solid text-violet-700">Click for more
                                    info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="xl:mt-10 p-4 xl:p-4 text-center max-w-screen-lg text-white font-xxs m-auto tracking-normal">*The hosted pool party will be covered
                at our expense. However, making reservations, travel costs, and cost of all other events will be the responsibility of each guest. The only
                travel costs we will cover are
                those from the ceremony to Mon Ami Gabi and to the show thereafter on the wedding day. Please check back here often as plans may change.
            </div>
        </div>

        <div class="section fixed top-14 w-full bg-white s-six z-[4] mb-5 min-h-screen m-auto">
            <div class="border-b-2 w-80 mx-auto mt-10 xl:mt-20 border-black"></div>
            <div class="text-center text-2xl xl:text-5xl mt-5 mb-2 tracking-widest">Répondez S'il Vous Plaît (RSVP)</div>

            <form class="max-w-screen-md m-auto text-lg p-5 pb-20">
                <div class="mb-5">
                    <div class="flex align-center">
                        <label for="familyLastName" class="block text-sm font-medium text-gray-900">Invited Person's Addressee Name</label>
                    </div>
                    <div class="text-sm underline decoration-dotted text-violet-700 mb-2 cursor-pointer" (click)="openWhereIsThis()">Where is this?</div>
                    <input type="text" id="familyLastName" [(ngModel)]="familyLastName" name="familyLastName"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                    <div class="flex align-center mt-5">
                        <button
                            class="text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-blue-300 
                            font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-blue-800"
                            (click)="searchByName()">Search</button>
                        <img class="h-6 ml-3" *ngIf="isSearchForFamilyName" src="/assets/images/search.gif" />
                    </div>
                    <div class="mt-3 text-xs" *ngIf="familySearchError">{{familySearchError}}</div>
                </div>

                <div class="mb-5" *ngIf="family && family.familyName">
                    <label class="h-5 text-sm font-medium text-gray-900">Are you attending?<span class="text-red-900">*</span></label>
                    <div class="flex align-center">
                        <div>
                            <input id="guestAttendingYes" type="checkbox"
                                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" required
                                (click)="toggleIsGuestAttending()" name="isGuestAttendingYes" [(ngModel)]="isGuestAttending" />
                            <label class="ms-2 text-sm font-medium text-gray-900">Yes</label>
                        </div>

                        <div class="ml-10">
                            <input id="guestAttendingNo" type="checkbox"
                                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" required
                                (click)="toggleIsGuestAttendingNo()" name="isGuestAttendingNo" [(ngModel)]="isGuestNotAttending" />
                            <label class="ms-2 text-sm font-medium text-gray-900">No</label>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="family.isAttending">
                    <div>
                        <div *ngFor="let guest of family.guests; let i = index">
                            <div class="mb-5">
                                <label for="guest-{{i}}" class="block mb-2 text-sm font-medium text-gray-900">{{guest.isAdult ? 'Adult' : 'Child'}}</label>
                                <input type="text" id="guest-{{i}}" [(ngModel)]="guest.name" name="guest-{{i}}"
                                    class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                    required disabled="{{!guest.allowNameModification}}" />
                            </div>
                        </div>
                    </div>
                    <div class="border-b-2 w-full mx-auto my-10 border-black"></div>
                    <div class="my-7">
                        <div class="h-5 text-lg font-medium text-gray-900">Flight Arrival Info</div>
                        <div class="font-xxs">(Optional. You can come back and fill this out at a later date)</div>
                        <div class="my-5">
                            <label for="arrivalAirlines" class="block mb-2 text-sm font-medium text-gray-900">Arrival Airlines</label>
                            <input type="text" id="arrivalAirlines" [(ngModel)]="family.arrivalAirlines" name="arrivalAirlines"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                        </div>
                        <div class="mb-5">
                            <label for="arrivalFlight" class="block mb-2 text-sm font-medium text-gray-900">Arrival Flight #</label>
                            <input type="text" id="arrivalFlight" [(ngModel)]="family.arrivalFlight" name="arrivalFlight"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                        </div>
                        <div class="mb-5">
                            <label for="arrivalDate" class="block mb-2 text-sm font-medium text-gray-900">Arrival Date</label>
                            <input type="date" id="arrivalDate" name="arrivalDate" min="2025-05-01" [(ngModel)]="family.arrivalDate" />

                        </div>

                        <div class="h-5 text-lg font-medium text-gray-900">Flight Departure Info</div>
                        <div class="font-xxs">(Optional. You can come back and fill this out at a later date)</div>
                        <div class="my-5">
                            <label for="departureAirlines" class="block mb-2 text-sm font-medium text-gray-900">Departure Airlines</label>
                            <input type="text" id="departureAirlines" [(ngModel)]="family.departureAirlines" name="departureAirlines"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                        </div>
                        <div class="mb-5">
                            <label for="departureFlight" class="block mb-2 text-sm font-medium text-gray-900">Departure Flight #</label>
                            <input type="text" id="departureFlight" [(ngModel)]="family.departureFlight" name="departureFlight"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                        </div>
                        <div class="mb-5">
                            <label for="departureDate" class="block mb-2 text-sm font-medium text-gray-900">Departure Date</label>
                            <input type="date" id="departureDate" name="departureDate" min="2025-05-01" [(ngModel)]="family.departureDate" />
                        </div>
                    </div>
                    <div class="border-b-2 w-full mx-auto my-10 border-black"></div>
                    <div class="my-5">
                        <label for="accomodations" class="block text-sm font-medium text-gray-900">Accomodations (Hotel location, AirBnb address)</label>
                        <div class="font-xxs">(Optional. You can come back and fill this
                            out
                            at a later date)</div>
                        <input type="text" id="accomodations" [(ngModel)]="family.accomodations" name="accomodations"
                            class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                    <div class="border-b-2 w-full mx-auto my-10 border-black"></div>
                    <div class="guest-questions my-3 xl:my-10 text-center grid gap-2 xl:gap-5 text-xs">
                        <div></div>
                        <div>Ceremony</div>
                        <div>Reception</div>
                        <div>Show</div>
                        <div *ngIf="!family.allowExtraTicket"></div>
                        <div *ngIf="family.allowExtraTicket">Extra Show ticket</div>
                        <div></div>
                        <div class="font-xxs">Max {{family.maxAdultsToCeremony}} Adults
                            <span *ngIf="family.maxKidsToCeremony === 1"><br>& {{family.maxKidsToCeremony}} Child</span>
                            <span *ngIf="family.maxKidsToCeremony > 1"><br>& {{family.maxKidsToCeremony}} Children</span>
                            <br *ngIf="family.maxKidsToCeremony > 0"> <span *ngIf="family.maxKidsToCeremony > 0">(5+ yrs old)</span>
                        </div>
                        <div class="font-xxs">Max {{family.maxAdults}} Adults <span *ngIf="family.maxKids > 0">& {{family.maxKids}} Children</span></div>
                        <div class="font-xxs">Max {{family.maxShowTickets}} tickets
                            <span *ngIf="family.maxKids > 0"><br>(5+ yrs old)</span>
                            <span *ngIf="family.maxShowTickets < family.maxAdults"></span>
                        </div>
                        <div class="font-xxs" *ngIf="!family.allowExtraTicket"></div>
                        <div class="font-xxs" *ngIf="family.allowExtraTicket">(If available)</div>
                        <ng-container *ngFor="let guest of family.guests; let i = index">
                            <ng-container *ngIf="guest.name && guest.name.trim().length > 0">
                                <div>{{guest.name}}</div>
                                <div>
                                    <input type="checkbox" id="guestattendingCeremony-{{i}}" name="guestattendingCeremony-{{i}}"
                                        [(ngModel)]="guest.attendingCeremony" (ngModelChange)="updateCeremonyAttendence(guest)"
                                        class="w-4 h-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 m-auto"
                                        disabled="{{guest.isUnderFive || !guest.attendingCeremony && (guest.isAdult && family.atMaxCeremonyAdult || !guest.isAdult && family.atMaxCeremonyKid)}}" />
                                </div>
                                <div>
                                    <input type="checkbox" id="guestattendingReception-{{i}}" name="guestattendingReception-{{i}}"
                                        [(ngModel)]="guest.attendingReception"
                                        class="w-4 h-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 m-auto" />
                                </div>
                                <div>
                                    <input type="checkbox" id="guestattendingShow-{{i}}" name="guestattendingShow-{{i}}" [(ngModel)]="guest.attendingShow"
                                        class="w-4 h-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 m-auto"
                                        (ngModelChange)="updateCeremonyShow()" disabled="{{guest.isUnderFive || !guest.attendingShow && family.atMaxShow}}" />
                                </div>
                                <div *ngIf="!family.allowExtraTicket"></div>
                                <div *ngIf="family.allowExtraTicket">
                                    <input type="checkbox" id="guestattendingShowExtraTicket-{{i}}" name="guestattendingShowExtraTicket-{{i}}"
                                        [(ngModel)]="guest.attendingShowExtraTicket"
                                        class="w-4 h-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 m-auto"
                                        disabled="{{guest.isUnderFive || guest.attendingShow}}" />
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="mt-5 text-xs">
                        <div class="my-2">Please list any food allergies or dietary restrictions.</div>
                        <textarea class="border-solid border-2 w-full h-48 text-sm" (input)="updateFamilyComment($event)" id="comments" name="comments"
                            [ngModel]="family.comments"></textarea>
                        <div class="mt-4">All other questions or concerns you can ping me, ring me, or bring me more info at:</div>
                        <div class="mt-2 mb-4">863-899-4799</div>
                    </div>
                </ng-container>

                <button type="submit" *ngIf="family && family.familyName" (click)="submitRsvp()"
                    class="text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-blue-800">Submit</button>
                <div class="mt-3 text-xs" *ngIf="submissionComplete">Submit complete. You may come back here to review and/or update your submission at any
                    time.</div>
            </form>

            <div class="fixed top-0 bottom-0 left-0 right-0 z-90 flex align-center justify-center" *ngIf="whereIsThisIsOpen">
                <div class="fixed top-0 bottom-0 left-0 right-0 opacity-90 bg-slate-600 pointer-events-none"></div>
                <div class="relative m-auto">
                    <div class="absolute top-0 right-0 xl:top-1 xl:-right-0 h-7 w-7" (click)="closewhereIsThis()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="fill-white">
                            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                        </svg>
                    </div>
                    <img src="/assets/images/instructions.png" />
                </div>
            </div>
        </div>
        <div class="absolute bottom-1 left-5 text-center text-xs">An eSaith Production. 2007 - 2025™</div>
    </div>
</div>