.names {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  text-align: center;
  z-index: 99;
  padding: 10px 0;
  box-sizing: content-box;
}

.nav {
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  height: 50px;
  text-transform: uppercase;
  background-color: white;
  z-index: 99;

  box-shadow: 0 1px 4px 1px #333;

  div {
    padding: 10px;
    cursor: pointer;
    color: #222;
    font-weight: bold;
    font-size: 20px;
    margin: 0 20px;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid black;
    }
  }
}

.font-xxs {
  font-size: 8px;
}

.s-two {
  .content {
    @media only screen and (max-width: 720px) {
      .w {
        font-size: 90px;
      }
    }
  }
}

.s-three {
  min-height: 100vh;

  .itinerary-content {
    .itinerary-box {
      box-sizing: content-box;

      .itinerary-description {
        padding: 10px;
        line-height: 1.5em;
      }

      .tab {
        &.showtab {
          @media only screen and (min-width: 720px) {
            display: flex;
          }
        }
      }

      .circle-1,
      .circle-2,
      .circle-3 {
        position: absolute;
        bottom: -8px;
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 50%;
        border: 2px solid black;

        &.fill {
          background-color: black;
        }
      }

      .circle-1 {
        left: 30%;
      }

      .circle-2 {
        left: 50%;
      }

      .circle-3 {
        left: 70%;
      }
    }
  }
}

.s-five {
  z-index: 2;

  .s-five-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 300px));
    gap: 10px;
  }

  .place-selected {
    border-bottom: 2px solid white;
  }

  .place-content {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 300ms ease-in;

    &.place-content-selected {
      transition: opacity 300ms ease-in;
      height: 100%;
      opacity: 1;
    }
  }
}

.s-six {
  .disabled {
    label {
      color: gray;
    }

    input {
      cursor: not-allowed;
      background-color: gray;
      pointer-events: none;
    }
  }

  .guest-questions {
    grid-template-columns: repeat(5, 1fr);

    input[type="checkbox"].disabled {
      accent-color: #888;
      pointer-events: none;
    }
  }
}
