<div class="bg-white box-border">
    <div class="names fixed top-0 left-0 right-0 h-10 text-3xl text-white font-bold">JOHN & VERONICA</div>

    <div class="nav fixed top-50 hidden md:flex align-center justify-center">
        <div (click)="goToPage(0)">Home</div>
        <div (click)="goToPage(1)">About</div>
        <div (click)="goToPage(2)">Itinerary</div>
        <div (click)="goToPage(3)">Registry</div>
        <!-- <div (click)="goToPage(4)">Place</div> -->
        <div (click)="goToPage(4)">RSVP</div>
    </div>

    <div #scrollbackground>
        <div class="section fixed top-20 w-full bg-white s-one min-h-screen z-50 pb-5 shadow-2xl">
            <img class="m-auto w-full md:w-1/2" src="/assets/images/JohnAndVeronica.jpg" />
        </div>

        <div class="section fixed top-20 w-full bg-white s-two min-h-screen z-40 px-5 pb-8 shadow-2xl">
            <div class="content m-auto text-neutral-700 leading-6 max-w-full md:max-w-4xl text-xs md:text-2xl">
                <div class="border-b-2 w-80 mx-auto mt-5 md:mt-24 border-black"></div>
                <div class="flex items-center mt-10">
                    <div class="text-xl md:text-9xl relative md:top-0 w">W</div>
                    <div>e are thrilled to invite you to our Las Vegas Wedding! We encourage all of you to take this opportunity and make this
                        into a small getaway or a full blown vacation.
                    </div>
                </div>

                <br />There will not be a wedding party and instead we invite our guests show up in style and be the "wedding party". Choose any shade of
                purple for any piece of clothing or accessory. Feel free to show up decked out in purple as well :)
                <br />
                <br />Hope you're as excited as we are to make lasting memories!
                <br />
                <br />
                <div>xoxo</div>
                <div>John & Veronica</div>
            </div>
        </div>

        <div class="section fixed top-20 w-full bg-white s-three z-30 tracking-normal shadow-2xl">
            <div class="border-b-2 w-80 mx-auto mt-5 md:mt-24 border-black"></div>
            <div class="text-center text-3xl md:text-3xl mt-5 tracking-widest">ITINERARY</div>
            <div class="itinerary-content">
                <div class="relative itinerary-box md:max-w-7xl md:flex md:items-start md:mt-10 md:mx-auto md:mb-2.5 
                p-2.5 md:text-lg md:border md:border-solid md:border-slate-500">
                    <div class="hidden md:flex">
                        <div class="circle-1 cursor-pointer" [class.fill]="itineraryTab === 1" (click)="selectItineraryTab(1)">
                            <div class="absolute w-20 top-5 -left-8 text-center text-sm tracking-normal">
                                <div class="font-bold">Ceremony</div>
                                <div>1:00pm</div>
                            </div>
                        </div>
                        <div class="circle-2 cursor-pointer" [class.fill]="itineraryTab === 2" (click)="selectItineraryTab(2)">
                            <div class="absolute w-20 top-5 -left-8 text-center text-sm tracking-normal">
                                <div class="font-bold">Dinner</div>
                                <div class="font-bold text-nowrap" *ngIf="!clickMeClicked">(Click Me)</div>
                                <div>2:45pm</div>
                            </div>
                        </div>
                        <div class="circle-3 cursor-pointer" [class.fill]="itineraryTab === 3" (click)="selectItineraryTab(3)">
                            <div class="absolute w-20 top-5 -left-8 text-center text-sm tracking-normal">
                                <div class="font-bold">Show</div>
                                <div class="font-bold text-nowrap" *ngIf="!clickMeClicked">(Click Me)</div>
                                <div>7:00pm</div>
                            </div>
                        </div>
                    </div>
                    <div class="md:items-center md:h-96 block md:hidden tab" [class.showtab]="itineraryTab === 1">
                        <img class="m-auto w-60 md:mx-2 md:w-52 h-auto" src="/assets/images/ceremony.jpg" />
                        <div class="itinerary-description">
                            <div class="itinerary-description-title text-2xl md:text-4xl font-bold">Ceremony</div>
                            <div class="py-6">Although the courthouse will have our signatures on the dotted line, we know it won't be
                                real in our eyes until you help us make the commitment.
                            </div>
                            <div class="pb-5 font-bold">Ceremony: 1:00pm - 2:00pm</div>
                            <ul class="list-disc ml-5">
                                <li>Arrive 10-15 minutes early to grab a seat. Doors will promptly close at 12:59pm, late arrivals can join us once the
                                    ceremony
                                    has concluded.</li>
                                <li>If arriving by Uber, have them drop you off at the South Entrance.
                                    <a class="text-blue-900 underline" href="https://www.smartervegas.com/images/resortmaps/225.jpg" target="_blank">
                                        View Map</a>
                                </li>
                                <li>Ceremony is outdoors and shaded, but in the event of inclement weather we will proceed indoors.</li>
                                <li>We will be providing transportation from the Wynn Hotel to Mon Ami Gabi at 2:00pm for photos then food.</li>
                            </ul>
                        </div>
                        <div class="itinerary-details p-2.5 md:w-1/3">
                            <div class="font-bold">The Wedding Salons</div>
                            <div class="font-bold">at the Wynn Hotel</div>
                            <div class="text-sm hidden md:block">
                                <div>Sunday</div>
                                <div>May 25</div>
                                <div>1:00pm</div>
                            </div>
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-3 rounded text-sm"
                                (click)="viewOnMap('WynnHotel')">View on Map</button>
                            <div class="font-bold">Attire</div>
                            <div>Cocktail Attire - Purple Encouraged</div>
                        </div>
                    </div>
                    <div class="border-b-2 w-80 mx-auto my-5 border-black md:hidden"></div>
                    <div class="md:items-center md:h-96 block md:hidden tab" [class.showtab]="itineraryTab === 2">
                        <img class="m-auto md:mx-2 w-52 h-auto" src="/assets/images/dinner.jpg" />
                        <div class="itinerary-description">
                            <div class="itinerary-description-title text-2xl md:text-4xl font-bold">Dinner</div>
                            <div class="py-6">Our love of French cuisine began on our vacation to Washington D.C. and since then we knew we had
                                to find the perfect French bistro for our special day!
                            </div>
                            <div class="pb-5 font-bold">Early Dinner: 2:45pm - 5:45pm</div>
                            <ul class="list-disc ml-5">
                                <li>You will be able to select your entrée when seated.</li>
                                <li>We will be providing transportation from Mon Ami Gabi to MGM Grand at 5:45pm. Doors open at 6:30pm</li>
                            </ul>
                        </div>
                        <div class="itinerary-details p-2.5 md:w-1/3">
                            <div class="font-bold"> Mon Ami Gabi</div>
                            <div class="font-bold"> French Bistro</div>
                            <div class="text-sm hidden md:block">
                                <div>Sunday</div>
                                <div>May 25</div>
                                <div>2:45pm</div>
                            </div>
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-3 rounded text-sm" (click)="viewOnMap('MonAmi')">View
                                on Map</button>
                        </div>
                    </div>
                    <div class="border-b-2 w-80 mx-auto my-5 border-black md:hidden"></div>
                    <div class="md:items-center md:h-96 block md:hidden tab" [class.showtab]="itineraryTab === 3">
                        <img class="m-auto md:mx-2 w-52 h-auto" src="/assets/images/show.jpg" />
                        <div class="itinerary-description">
                            <div class="itinerary-description-title text-xl md:text-4xl font-bold">Show</div>
                            <div class="py-6">We'd like to treat you to a Vegas show and what better way than to witness a Cirque du Soleil production.
                            </div>
                            <div class="pb-5 font-bold">Show: 7:00pm - 8:30pm</div>
                            <ul class="list-disc ml-5">
                                <li>No bags larger than 14”x14”x6” are allowed in the theater</li>
                                <li>Photos and videos during the performance are strictly prohibited.</li>
                                <li>Must be at least 5 years old to attend</li>
                                <li><a class="text-blue-900"
                                        href="https://mgmgrand.mgmresorts.com/en/entertainment/faq-ka-by-cirque-du-soleil.html#are-bags-allowed-in-the-theater"
                                        target="_blank">For more info click here</a>
                                </li>
                            </ul>


                        </div>
                        <div class="itinerary-details p-2.5 md:w-1/3">
                            <div class="font-bold"> KÀ by Cirque du Soleil </div>
                            <div class="font-bold">at MGM Grand</div>
                            <div class="text-sm hidden md:block">
                                <div>Sunday</div>
                                <div>May 25</div>
                                <div>7:00pm</div>
                            </div>
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-3 rounded text-sm" (click)="viewOnMap('show')">View
                                on Map</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section fixed top-20 w-full bg-white z-20 min-h-screen shadow-2xl">
            <div class="border-b-2 w-80 mx-auto mt-5 md:mt-24 border-black"></div>
            <div class="text-center text-3xl md:text-3xl mt-5 tracking-widest">Registry</div>
            <div class="max-w-screen-md p-5 m-auto text-lg">
                <div class="py-2.5 md:my-10 md:p-0">
                    We are beyond grateful to be celebrating our wedding with you. We appreciate you coming from far and wide to be with us this summer. Your
                    attendance is as good a gift as any, but for those who would like, we have thoughtfully put together our registry with items to help us
                    start this next chapter in our lives.
                </div>
                <div class="py-2.5 md:my-7 md:p-0">
                    We have so much to look forward to and have included cash gift options if you would like to contribute to our future plans. Thank you from
                    the bottom of our hearts.
                </div>
                <div class="py-2.5 md:my-7 md:p-0">You can find out registry here at <a href="https://www.amazon.com/wedding/registry/38UOAQG8FOISD"
                        target="_blank" class="text-cyan-600">Amazon</a>
                </div>
                <div class="py-2.5"> CashApp: $BeMyVanidestine </div>
            </div>
        </div>

        <div class="section fixed top-20 w-full bg-stone-700 z-10 s-five text-sm tracking-normal shadow-2xl hidden">
            <img class="w-3/8 mx-auto mt-20" src="https://placehold.co/600x400" />
            <div class="text-5xl text-center my-10 text-white">LAS VEGAS, NEVADA</div>
            <div class="w-1/4 my-20 mx-auto border-2 border-white"></div>
            <div class="flex align-center justify-center text-white text-lg my-5 cursor-pointer">
                <div class="mx-3" [class.place-selected]="place === 'eat'" (click)="selectPlace('eat')">Eat</div> /
                <div class="mx-3" [class.place-selected]="place === 'drink'" (click)="selectPlace('drink')">Drink</div> /
                <div class="mx-3" [class.place-selected]="place === 'shop'" (click)="selectPlace('shop')">Shop</div> /
                <div class="mx-3" [class.place-selected]="place === 'do'" (click)="selectPlace('do')">Do</div>
            </div>
            <div class="mb-20">
                <div class="flex justify-center place-content" [class.place-content-selected]="place === 'eat'">
                    <div class="s-five-grid ">
                        <div class="bg-white p-4">
                            <div class="font-bold">Joni's</div>
                            <div class="my-3 italic">
                                <div>34 S Etna Avenue</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>We understand that your pilates and juice routine might not jive with a full weekend of burger & booze binging, so swing by
                                Joni's
                                for
                                your
                                sprouts fix. Open from early morning until mid-afternoon, this cute place serves eggs, veggies and yummy sandwiches. The Thai Me
                                Up
                                wrap
                                is
                                what
                                we come for, but it's hard to go wrong.
                            </div>
                        </div>
                        <div class="col-span-2 bg-white">
                            <img class="w-full" src="https://placehold.co/400x200" />
                            <div class="p-4">
                                <div class="font-bold">Navy Beach</div>

                                <div class="my-3 italic">
                                    <div>16 Navy Rd</div>
                                    <div>Montauk, NY</div>
                                </div>
                                <div>For us, Montauk is synonymous with shellfish. Lobster, in particular. And Navy Beach serves theirs right - warm on a
                                    buttered
                                    bun.
                                    No
                                    shirt, no
                                    shorts, no problem? they don't mind if you stay in your bikini. You're on an island in June, so take full advantage.
                                </div>
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="font-bold">Gulf Coast Kitchen</div>
                            <div class="my-3 italic">
                                <div>32 Star Island Rd</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>Housed in the Montauk Yacht Club on Star Island, it doesn't get much more radical (rad + nautical) than GCK. Views of Lake
                                Montauk
                                rival
                                most
                                on the East End and their wine & dine vibes give you another opportunity to kick up your vacation casual a notch.
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="font-bold">Joni's</div>
                            <div class="my-3 italic">
                                <div>34 S Etna Avenue</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>
                                We understand that your pilates and juice routine might not jive with a full weekend of burger & booze binging, so swing by
                                Joni’s
                                for
                                your
                                sprouts fix. Open from early morning until mid-afternoon, this cute place serves eggs, veggies and yummy sandwiches. The Thai Me
                                Up
                                wrap
                                is
                                what
                                we come for, but it's hard to go wrong.
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="font-bold">Joni's</div>
                            <div class="mt-3 italic">
                                <div>34 S Etna Avenue</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>
                                We understand that your pilates and juice routine might not jive with a full weekend of burger & booze binging, so swing by
                                Joni’s
                                for
                                your
                                sprouts fix. Open from early morning until mid-afternoon, this cute place serves eggs, veggies and yummy sandwiches. The Thai Me
                                Up
                                wrap
                                is
                                what
                                we come for, but it's hard to go wrong.
                            </div>
                        </div>
                        <div class="col-span-2 bg-white">
                            <img class="w-full" src="https://placehold.co/400x200" />
                            <div class="p-4">
                                <div class="font-bold">Navy Beach</div>
                                <div class="my-3 italic">
                                    <div>16 Navy Rd</div>
                                    <div>Montauk, NY</div>
                                </div>
                                <div>For us, Montauk is synonymous with shellfish. Lobster, in particular. And Navy Beach serves theirs right - warm on a
                                    buttered
                                    bun.
                                    No
                                    shirt, no
                                    shorts, no problem? they don't mind if you stay in your bikini. You're on an island in June, so take full advantage.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center place-content" [class.place-content-selected]="place === 'drink'">
                    <div class="s-five-grid">
                        <div class="bg-white p-4">
                            <div class="font-bold">Joni's</div>
                            <div class="my-3 italic">
                                <div>34 S Etna Avenue</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>We understand that your pilates and juice routine might not jive with a full weekend of burger & booze binging, so swing by
                                Joni's
                                for
                                your
                                sprouts fix. Open from early morning until mid-afternoon, this cute place serves eggs, veggies and yummy sandwiches. The Thai Me
                                Up
                                wrap
                                is
                                what
                                we come for, but it's hard to go wrong.
                            </div>
                        </div>

                        <div class="bg-white p-4">
                            <div class="font-bold">Gulf Coast Kitchen</div>
                            <div class="my-3 italic">
                                <div>32 Star Island Rd</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>Housed in the Montauk Yacht Club on Star Island, it doesn't get much more radical (rad + nautical) than GCK. Views of Lake
                                Montauk
                                rival
                                most
                                on the East End and their wine & dine vibes give you another opportunity to kick up your vacation casual a notch.
                            </div>
                        </div>
                        <div class="col-span-2 bg-white">
                            <img class="w-full" src="https://placehold.co/400x200" />
                            <div class="p-4">
                                <div class="font-bold">Navy Beach</div>

                                <div class="my-3 italic">
                                    <div>16 Navy Rd</div>
                                    <div>Montauk, NY</div>
                                </div>
                                <div>For us, Montauk is synonymous with shellfish. Lobster, in particular. And Navy Beach serves theirs right - warm on a
                                    buttered
                                    bun.
                                    No
                                    shirt, no
                                    shorts, no problem? they don't mind if you stay in your bikini. You're on an island in June, so take full advantage.
                                </div>
                            </div>
                        </div>
                        <div class="col-span-2 bg-white">
                            <img class="w-full" src="https://placehold.co/400x200" />
                            <div class="p-4">
                                <div class="font-bold">Navy Beach</div>
                                <div class="my-3 italic">
                                    <div>16 Navy Rd</div>
                                    <div>Montauk, NY</div>
                                </div>
                                <div>For us, Montauk is synonymous with shellfish. Lobster, in particular. And Navy Beach serves theirs right - warm on a
                                    buttered
                                    bun.
                                    No
                                    shirt, no
                                    shorts, no problem? they don't mind if you stay in your bikini. You're on an island in June, so take full advantage.
                                </div>
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="font-bold">Joni's</div>
                            <div class="my-3 italic">
                                <div>34 S Etna Avenue</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>
                                We understand that your pilates and juice routine might not jive with a full weekend of burger & booze binging, so swing by
                                Joni’s
                                for
                                your
                                sprouts fix. Open from early morning until mid-afternoon, this cute place serves eggs, veggies and yummy sandwiches. The Thai Me
                                Up
                                wrap
                                is
                                what
                                we come for, but it's hard to go wrong.
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="font-bold">Joni's</div>
                            <div class="mt-3 italic">
                                <div>34 S Etna Avenue</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>
                                We understand that your pilates and juice routine might not jive with a full weekend of burger & booze binging, so swing by
                                Joni’s
                                for
                                your
                                sprouts fix. Open from early morning until mid-afternoon, this cute place serves eggs, veggies and yummy sandwiches. The Thai Me
                                Up
                                wrap
                                is
                                what
                                we come for, but it's hard to go wrong.
                            </div>
                        </div>

                    </div>
                </div>
                <div class="flex justify-center place-content" [class.place-content-selected]="place === 'shop'">
                    <div class="s-five-grid">
                        <div class="bg-white p-4">
                            <div class="font-bold">Joni's</div>
                            <div class="my-3 italic">
                                <div>34 S Etna Avenue</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>We understand that your pilates and juice routine might not jive with a full weekend of burger & booze binging, so swing by
                                Joni's
                                for
                                your
                                sprouts fix. Open from early morning until mid-afternoon, this cute place serves eggs, veggies and yummy sandwiches. The Thai Me
                                Up
                                wrap
                                is
                                what
                                we come for, but it's hard to go wrong.
                            </div>
                        </div>
                        <div class="col-span-2 bg-white">
                            <img class="w-full" src="https://placehold.co/400x200" />
                            <div class="p-4">
                                <div class="font-bold">Navy Beach</div>

                                <div class="my-3 italic">
                                    <div>16 Navy Rd</div>
                                    <div>Montauk, NY</div>
                                </div>
                                <div>For us, Montauk is synonymous with shellfish. Lobster, in particular. And Navy Beach serves theirs right - warm on a
                                    buttered
                                    bun.
                                    No
                                    shirt, no
                                    shorts, no problem? they don't mind if you stay in your bikini. You're on an island in June, so take full advantage.
                                </div>
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="font-bold">Gulf Coast Kitchen</div>
                            <div class="my-3 italic">
                                <div>32 Star Island Rd</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>Housed in the Montauk Yacht Club on Star Island, it doesn't get much more radical (rad + nautical) than GCK. Views of Lake
                                Montauk
                                rival
                                most
                                on the East End and their wine & dine vibes give you another opportunity to kick up your vacation casual a notch.
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="font-bold">Joni's</div>
                            <div class="my-3 italic">
                                <div>34 S Etna Avenue</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>
                                We understand that your pilates and juice routine might not jive with a full weekend of burger & booze binging, so swing by
                                Joni’s
                                for
                                your
                                sprouts fix. Open from early morning until mid-afternoon, this cute place serves eggs, veggies and yummy sandwiches. The Thai Me
                                Up
                                wrap
                                is
                                what
                                we come for, but it's hard to go wrong.
                            </div>
                        </div>
                        <div class="col-span-2 bg-white">
                            <img class="w-full" src="https://placehold.co/400x200" />
                            <div class="p-4">
                                <div class="font-bold">Navy Beach</div>
                                <div class="my-3 italic">
                                    <div>16 Navy Rd</div>
                                    <div>Montauk, NY</div>
                                </div>
                                <div>For us, Montauk is synonymous with shellfish. Lobster, in particular. And Navy Beach serves theirs right - warm on a
                                    buttered
                                    bun.
                                    No
                                    shirt, no
                                    shorts, no problem? they don't mind if you stay in your bikini. You're on an island in June, so take full advantage.
                                </div>
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="font-bold">Joni's</div>
                            <div class="mt-3 italic">
                                <div>34 S Etna Avenue</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>
                                We understand that your pilates and juice routine might not jive with a full weekend of burger & booze binging, so swing by
                                Joni’s
                                for
                                your
                                sprouts fix. Open from early morning until mid-afternoon, this cute place serves eggs, veggies and yummy sandwiches. The Thai Me
                                Up
                                wrap
                                is
                                what
                                we come for, but it's hard to go wrong.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center place-content" [class.place-content-selected]="place === 'do'">
                    <div class="s-five-grid">
                        <div class="col-span-2 bg-white">
                            <img class="w-full" src="https://placehold.co/400x200" />
                            <div class="p-4">
                                <div class="font-bold">Navy Beach</div>

                                <div class="my-3 italic">
                                    <div>16 Navy Rd</div>
                                    <div>Montauk, NY</div>
                                </div>
                                <div>For us, Montauk is synonymous with shellfish. Lobster, in particular. And Navy Beach serves theirs right - warm on a
                                    buttered
                                    bun.
                                    No
                                    shirt, no
                                    shorts, no problem? they don't mind if you stay in your bikini. You're on an island in June, so take full advantage.
                                </div>
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="font-bold">Joni's</div>
                            <div class="my-3 italic">
                                <div>34 S Etna Avenue</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>We understand that your pilates and juice routine might not jive with a full weekend of burger & booze binging, so swing by
                                Joni's
                                for
                                your
                                sprouts fix. Open from early morning until mid-afternoon, this cute place serves eggs, veggies and yummy sandwiches. The Thai Me
                                Up
                                wrap
                                is
                                what
                                we come for, but it's hard to go wrong.
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="font-bold">Gulf Coast Kitchen</div>
                            <div class="my-3 italic">
                                <div>32 Star Island Rd</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>Housed in the Montauk Yacht Club on Star Island, it doesn't get much more radical (rad + nautical) than GCK. Views of Lake
                                Montauk
                                rival
                                most
                                on the East End and their wine & dine vibes give you another opportunity to kick up your vacation casual a notch.
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="font-bold">Joni's</div>
                            <div class="my-3 italic">
                                <div>34 S Etna Avenue</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>
                                We understand that your pilates and juice routine might not jive with a full weekend of burger & booze binging, so swing by
                                Joni’s
                                for
                                your
                                sprouts fix. Open from early morning until mid-afternoon, this cute place serves eggs, veggies and yummy sandwiches. The Thai Me
                                Up
                                wrap
                                is
                                what
                                we come for, but it's hard to go wrong.
                            </div>
                        </div>
                        <div class="bg-white p-4">
                            <div class="font-bold">Joni's</div>
                            <div class="mt-3 italic">
                                <div>34 S Etna Avenue</div>
                                <div>Montauk, NY</div>
                            </div>
                            <div>
                                We understand that your pilates and juice routine might not jive with a full weekend of burger & booze binging, so swing by
                                Joni’s
                                for
                                your
                                sprouts fix. Open from early morning until mid-afternoon, this cute place serves eggs, veggies and yummy sandwiches. The Thai Me
                                Up
                                wrap
                                is
                                what
                                we come for, but it's hard to go wrong.
                            </div>
                        </div>
                        <div class="col-span-2 bg-white">
                            <img class="w-full" src="https://placehold.co/400x200" />
                            <div class="p-4">
                                <div class="font-bold">Navy Beach</div>
                                <div class="my-3 italic">
                                    <div>16 Navy Rd</div>
                                    <div>Montauk, NY</div>
                                </div>
                                <div>For us, Montauk is synonymous with shellfish. Lobster, in particular. And Navy Beach serves theirs right - warm on a
                                    buttered
                                    bun.
                                    No
                                    shirt, no
                                    shorts, no problem? they don't mind if you stay in your bikini. You're on an island in June, so take full advantage.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section fixed top-20 w-full bg-white s-six z-0 mb-5 min-h-screen m-auto">
            <div class="border-b-2 w-80 mx-auto mt-10 md:mt-20 border-black"></div>
            <div class="text-center text-2xl md:text-5xl mt-5 mb-20 tracking-widest">Répondez S'il Vous Plaît (RSVP)</div>

            <form class="max-w-screen-md m-auto text-lg p-5">
                <div class="mb-5">
                    <label for="familyLastName" class="block mb-2 text-sm font-medium text-gray-900">Invited Person's Addresse Name</label>
                    <input type="text" id="familyLastName" [(ngModel)]="familyLastName" name="familyLastName"
                        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
                    <div class="flex align-center mt-5">
                        <button
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            (click)="searchByName()">Search</button>
                        <img class="h-6 ml-3" *ngIf="isSearchForFamilyName" src="/assets/images/search.gif" />
                    </div>
                    <div class="mt-3" *ngIf="familySearchError">{{familySearchError}}</div>
                </div>

                <div class="mb-5" *ngIf="family && family.familyName">
                    <label class="h-5 text-sm font-medium text-gray-900">Are you attending?</label>
                    <div class="flex align-center">
                        <div>
                            <input id="guestAttendingYes" type="checkbox"
                                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" required
                                (click)="toggleIsGuestAttending()" name="isGuestAttendingYes" [(ngModel)]="isGuestAttending" />
                            <label class="ms-2 text-sm font-medium text-gray-900">Yes</label>
                        </div>

                        <div class="ml-10">
                            <input id="guestAttendingNo" type="checkbox"
                                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" required
                                (click)="toggleIsGuestAttendingNo()" name="isGuestAttendingNo" [(ngModel)]="isGuestNotAttending" />
                            <label class="ms-2 text-sm font-medium text-gray-900">No</label>
                        </div>
                    </div>
                </div>

                <div *ngIf="family.isAttending">
                    <div *ngFor="let guest of family.guests; let i = index">
                        <div class="mb-5">
                            <label for="guest-{{i}}" class="block mb-2 text-sm font-medium text-gray-900">{{guest.isAdult ? 'Adult' : 'Child'}}</label>
                            <input type="text" id="guest-{{i}}" [(ngModel)]="guest.name" name="guest-{{i}}"
                                class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                required disabled="{{!guest.allowNameModification}}" />
                        </div>
                    </div>
                </div>

                <div class="guest-questions my-3 md:my-10 text-center grid gap-2 md:gap-5 text-xs" *ngIf="family.isAttending">
                    <div></div>
                    <div>Ceremony</div>
                    <div>Reception</div>
                    <div>Show</div>
                    <div *ngIf="!family.allowExtraTicket"></div>
                    <div *ngIf="family.allowExtraTicket">Extra Show ticket</div>
                    <div></div>
                    <div class="font-xxs">Max {{family.maxAdultsToCeremony}} Adults
                        <span *ngIf="family.maxKidsToCeremony === 1"><br>& {{family.maxKidsToCeremony}} Child</span>
                        <span *ngIf="family.maxKidsToCeremony > 1"><br>& {{family.maxKidsToCeremony}} Children</span>
                        <br *ngIf="family.maxKidsToCeremony > 0"> <span *ngIf="family.maxKidsToCeremony > 0">(5+ yrs old)</span>
                    </div>
                    <div class="font-xxs">Max {{family.maxAdults}} Adults <span *ngIf="family.maxKids > 0">& {{family.maxKids}} Children</span></div>
                    <div class="font-xxs">Max {{family.maxShowTickets}} tickets.
                        <span *ngIf="family.maxKids > 0"><br>(5+ yrs old)</span>
                        <span *ngIf="family.maxShowTickets < family.maxAdults"></span>
                    </div>
                    <div class="font-xxs" *ngIf="!family.allowExtraTicket"></div>
                    <div class="font-xxs" *ngIf="family.allowExtraTicket">(If available)</div>
                    <ng-container *ngFor="let guest of family.guests; let i = index">
                        <ng-container *ngIf="guest.name && guest.name.trim().length > 0">
                            <div>{{guest.name}}</div>
                            <div>
                                <input type="checkbox" id="guestattendingCeremony-{{i}}" name="guestattendingCeremony-{{i}}"
                                    [(ngModel)]="guest.attendingCeremony" (ngModelChange)="updateCeremonyAttendence(guest)"
                                    class="w-4 h-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 m-auto"
                                    disabled="{{guest.isUnderFive || !guest.attendingCeremony && (guest.isAdult && family.atMaxCeremonyAdult || !guest.isAdult && family.atMaxCeremonyKid)}}" />
                            </div>
                            <div>
                                <input type="checkbox" id="guestattendingReception-{{i}}" name="guestattendingReception-{{i}}"
                                    [(ngModel)]="guest.attendingReception"
                                    class="w-4 h-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 m-auto" />
                            </div>
                            <div>
                                <input type="checkbox" id="guestattendingShow-{{i}}" name="guestattendingShow-{{i}}" [(ngModel)]="guest.attendingShow"
                                    class="w-4 h-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 m-auto"
                                    (ngModelChange)="updateCeremonyShow()" disabled="{{guest.isUnderFive || !guest.attendingShow && family.atMaxShow}}" />
                            </div>
                            <div *ngIf="!family.allowExtraTicket"></div>
                            <div *ngIf="family.allowExtraTicket">
                                <input type="checkbox" id="guestattendingShowExtraTicket-{{i}}" name="guestattendingShowExtraTicket-{{i}}"
                                    [(ngModel)]="guest.attendingShowExtraTicket"
                                    class="w-4 h-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 m-auto"
                                    disabled="{{guest.isUnderFive || guest.attendingShow}}" />
                            </div>
                        </ng-container>
                    </ng-container>
                </div>

                <button type="submit" *ngIf="family && family.familyName" (click)="submitRsvp()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                <div class="mt-3" *ngIf="submissionComplete">Submit complete. You may come back here to review your submission.</div>
            </form>
        </div>
    </div>
</div>